@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "iransans";
    src: 
      url("/public/fonts/IRANSansX-Medium.woff2") format("woff2"),
      url("/public/fonts/IRANSansX-Medium.woff") format("woff");
    font-weight: normal;
    font-display: swap;
  }