@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wordspace {
    word-spacing: -3px;
  }
  .side-h{
    height: calc(100vh - 120px)
  }
}
@layer components {
  .pagination {
    @apply absolute bottom-4
  }
  [aria-current]:not([aria-current="false"]) > button{
    @apply bg-red-600 text-white
  }
  .pagination > ul > li button{
    @apply p-3
  }
  .pagination > ul > li:first-child button{
    @apply rounded-l-md
  }
  .pagination > ul > li:last-child button{
    @apply rounded-r-md
  }
}
@font-face {
  font-family: "iransans";
  src: 
    url("/public/fonts/IRANSansX-Light.woff") format("woff"),
    url("/public/fonts/IRANSansX-Light.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "iransans";
  src: 
    url("/public/fonts/IRANSansX-Regular.woff") format("woff"),
    url("/public/fonts/IRANSansX-Regular.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "iransans";
  src: 
    url("/public/fonts/IRANSansX-DemiBold.woff") format("woff"),
    url("/public/fonts/IRANSansX-DemiBold.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "iransans";
  src: 
    url("/public/fonts/IRANSansX-Bold.woff") format("woff"),
    url("/public/fonts/IRANSansX-Bold.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
  font-weight: 700;
}

body{
  -ms-overflow-style:none;
  scrollbar-width: none;
  font-family: 'iransans' !important;
}
.hide-scroll::-webkit-scrollbar{
  display: none;
}
aside > div{
  padding: 0 !important;
}
.title-modal > button{
  margin: 0;
}

/* customize toast */
.Toastify__toast{
  font-family: 'iransans' !important;
  font-size: 14px;
  font-weight: 500;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgba(44, 44, 44, 0.555);
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
  color: black;
}